/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi:600;

  /*========== Colors ==========*/
  /* --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --body-color: #FCFCFC;
  --container-color: #d7ffd9;
  --container-color-alt: #a5d6a7;  */

  /*COLORES ANTERIORES*/
  /* --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF; */

  --title-color: #f2f2f2;
  --text-color: #d1d0d0;
  --text-color-light: #e0dddd;
  --container-color: #181616; 
  --container-color-alt: #453a94 ; 
  --body-color: #2b2b2b;
  

  /*========== Font and typography ==========*/
  --body-font: 'Montserrat', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


.neonText {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #5272ffb9,
    0 0 82px #5272ff34,
    0 0 92px #5272ff17,
    0 0 102px #5272ff3f,
    0 0 151px #5272ff23;
  }

.neonLeftS{
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #e78c92,
    0 0 82px #da7f85,
    0 0 92px #da7f8546,
    0 0 102px #da7f8533,
    0 0 151px #da7f8515;
}
  
.neonSubTitle{
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #4a4b4d,
    0 0 82px #4a4b4d,
    0 0 92px #4a4b4d59,
    0 0 102px #4a4b4d42,
    0 0 151px #4a4b4d49;
}

/* Flickering animation */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #5271ff,
      0 0 80px #5271ff,
      0 0 90px #5271ff,
      0 0 100px #5271ff,
      0 0 150px #5271ff;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}

/*========== Font size variables to scale cv ==========*/
body.scale-cv{
    --h1-font-size: .938rem;
    --h2-font-size: .938rem;
    --h3-font-size: .875rem;
    --normal-font-size: .813rem;
    --small-font-size: .75rem;
    --smaller-font-size: .688rem;
}



/*========== Generate PDF button ==========*/
.generate-pdf{
    display: none;
    position: absolute;
    top: 2.2rem;
    left: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

.generate-pdf:hover{
    color: var(--title-color);

}

/*========== Classes modified to reduce size and print on A4 sheet ==========*/
.scale-cv .change-theme,
.scale-cv .generate-pdf{
    max-width: 595px;
    display: none;
}

.scale-cv .section{
    padding: 1.5rem 0 .80rem;

}

.scale-cv .section-title{
    margin-bottom: .75rem;
    

}

.scale-cv .resume__left,
.scale-cv .resume__right{
    padding: 0 1rem;
}

.scale-cv .home__img{
    width: 90px;
    height: 90px;

}

.scale-cv .home__container{
    gap: 1.5rem;
}

.scale-cv .home__data{
    gap: 	.25rem;
}

.scale-cv .home__address,
.scale-cv .social__container{
    gap: .75rem;
}

.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icon{
    font-size: 1rem;

}

.scale-cv .education__container,
.scale-cv .experience__container,
.scale-cv .certificate__container
{
    gap: 1rem;
}


.scale-cv .education__time,
.scale-cv .experience__time{
    padding-right: .5rem;
}

.scale-cv .education__rounder,
.scale-cv .experience__rounder{
    width: 11px;
    height: 11px;
    margin-top: .22rem;
}

.scale-cv .education__line{
    width: 1px;
    height: 110%;
    transform: translate(5px, 0);
}
.scale-cv .experience__line{
    width: 1px;
    height: 100%;
    transform: translate(5px, 0);
}

.scale-cv .education__data,
.scale-cv .experience__data{
    gap: .25rem;
}

.scale-cv .skills__name{
    margin-bottom: var(--mb-1);
}

.scale-cv .interests__container{
    column-gap: 2..5rem;
    
}


body{
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);

}

h1,h2,h3,ul,p{
  margin: 0;
}

h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    
}

img{
    max-width: 100%;
    height: auto;
}
/*========== CLASS CSS ==========*/
.section{
    padding: 1.5rem 0;
}

.section-title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}



/*========== LAYOUT ==========*/
.bd-container{
    max-width: 968px;
    width: calc(100%- 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid{
    display: grid;
    gap: 1.5rem;

}

.l-header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0,0,0,.1);
    transition: .3s;
}


/*========== NAV ==========*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media screen and (max-width: 968px) {
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 1rem 1rem 0 0;
        z-index: var(--z-fixed);
        transition: .3s;
    }

}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);

}

.nav__toggle{
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__item{
    text-align: center;

}

.nav__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);

}

.nav__link:hover{
    color: var(--title-color);
}

.nav__icon{
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}

/* Show menu */
.show-menu{
    bottom: var(--header-height);
}

/* Active menu link */
.active-link{
    color: var(--title-color);
}

/*========== HOME ==========*/
.home{
    position: relative;

}

.home__container{
    gap: 3rem;
}

.home__data{
    gap: .5rem;
    text-align: center;
}

.home__img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}

.home__title{
    font-size: var(--h1-font-size);
    animation: flicker 1.5s infinite alternate;
    
}


.home__profession{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}


.home__address{
    gap: 1rem;

}

.home__information{
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}

.home__icon{
    font-size: 1.2rem;
    margin-right: .25rem;

}

.home__button-movil{
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    border-radius: .25rem;
    transition: .3s;
    font-weight: var(--font-medium);
    margin-top: var(--mb-3);
}

.home__button-movil:hover{
    background-color: var(--text-color);
    color: var(--container-color);
}

/*========== SOCIAL ==========*/
.social__container{
    grid-template-columns: max-content;
    gap: 1rem;
}

.social__link{
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.social__link:hover{
    color: var(--title-color);
}

.social__icon{
    font-size: 1.2rem;
    margin-right: .25rem;
}

/*========== PROFILE ==========*/
.profile_description{
    text-align: center;
    
}

/*========== EDUCATION AND EXPERIENCE ==========*/
.education__content,
.experience__content{
    display: flex;
}

.education__time,
.experience__time{
    padding-right: 1rem;
}

.education__rounder,
.experience__rounder{
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--text-color-light);
    border-radius: 50%;
    margin-top: .25rem;

}

.education__line{
    display: block;
    width: 2px;
    height: 110%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0);
}

.education__data,
.experience__data{
    gap: .5rem;
}

.education__title,
.experience__title{
    font-size: var(--h3-font-size);
}

.education__studies,
.experience__company{
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.education__year,
.experience__description{
    font-size: var(--smaller-font-size);
}
.experience__title{
    padding-top: .5rem;
}
.experience__line{
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0);
}

/*========== SKILLS AND LANGUAGES ==========*/
.skills__content{
    grid-template-columns: repeat(2, 1fr);

}

.skills__content{
    gap: 0;
}

.skills__name{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
}

.skills_circle{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: .75rem;
}

/*========== CERTIFICATES ==========*/
.certificate__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

/*========== REFERENCES ==========*/
.references__content{
    gap: .25rem;
}

.references__subtitle{
    color: var(--text-color-light);
}

.references__subtitle,
.references__contact{
    font-size: var(--smaller-font-size);
}

.references__title{
    font-size: var(--h3-font-size);

}

.languages__content{
    grid-template-columns: repeat(2, 1fr);

}
.languages__content{
    gap:0;
}
.languages__name{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
}

.languages__circle{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: .75rem;
}
/*========== INTERESTS ==========*/
.interests__container{
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--mb-2);
}

.interests__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests__icon{
    font-size: 1.5rem;
    color: var(--text-color-light);
    margin-bottom: .25rem;
}
/* Scroll top */
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background-color: var(--container-color-alt);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop_icon{
    font-size: 1.2rem;
    color: var(--text-color);
}

.show-scroll{
    visibility: visible;
    bottom: 5rem;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */
@media screen and (max-width:320px){
    .nav__list{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem .5rem;
    }
}

/* Classes modified for large screen size */
@media screen and (min-width: 968px) {
    body{
        margin: 3rem 0;
    }
    .bd-container{
        margin-left: auto;
        margin-right: auto;

    }
    .l-header,
    .scrolltop{
        display: none;
    }

    .resume{
        display: grid;
        grid-template-columns: .5fr 1fr;
        box-shadow: 0 0 8px rgba(13,12,12,.15);
        background-color: var(--container-color);

    }

    .resume__left{
        background-color: var(--container-color-alt);
        /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
        background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    }
    .resume__left,
    .resume__right{
        padding: 0 1.5rem;
    }

    .section-title,
    .profile_description{
        text-align: initial;
    }
    .home__container{
        gap: 1.5rem;
    }
    .home__button-movil{
        display: none;
    }
    .references__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .languages__content{
        grid-template-columns: repeat(3, max-content);
        column-gap: 3.5rem;
    }

    .interests__container{
        grid-template-columns: repeat(4, max-content);
        column-gap: 3.5rem;
    }

    .generate-pdf{
        display: inline-block;
    }
}